img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    filter: grayscale(100%);
    padding: 10px;
    border-radius: 25px;
}

.container{
    position: relative;
    text-align: center;
    color: purple;
    font-size:50px;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

div.a{
    text-align: center;
    font-weight: bold;
}

table th, td {
    border: 1px solid;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color:
}


#pizza td, #pizza th{
    border: 1px solid rgb(170, 18, 190);
    padding: 8px;
}
#pizza th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #dd0dd3;
    color: black;
}

/*NAVBAR*/

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
  
  .main {
    padding: 16px;
    margin-top: 30px;
    height: 1500px; /* Used in this example to enable scrolling */
  }


* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 200px;
  color: purple;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}


/*Creates a hover effect*/

p:hover {
  background-color: yellow;
  font-size: 18px;
}

/*Image transition*/
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
  }